body {
    background: #eceef1;
}

body .inner {
    background: #FFF;
    width: 60%;
    height: 60%;
}

body div.story {
    outline: 0 none black;
    border-bottom: 1px solid #eceef1;
    color: #2d72d9;
}

body div.story .title {
    font: small;
    text-decoration: none;
}

body div.selected {
    background: #f5f9fc;
}